#end-btn {
    width: 20%;
    top: 68%;
    left:56%;
}

#end-btn:active {
    width: 21%;
    top: 67.5%;
    left: 55.5%;
}

#end-text {
    font-size: 2.3vw;
    font-family: "Itim", cursive;
    font-weight: 400;
    text-align: center;
    top: 22%;
    left: 47%;
}
