.signs {
    width: 11.5%;
}

#sign1 {
    left: 18.4%;
    top: 23.3%;
}

#sign2 {
    left: 62%;
    top: 4.2%;
}

#sign3 {
    left: 52%;
    top: 42%;
}

#sign4 {
    left: 29%;
    top: 66.5%;
    width: 11%;
}

#sign5 {
    left: 73.4%;
    top: 66.8%;
    width: 9.5%;
}

.shadows {
    pointer-events: none;
}